Header.css

  
  .header-title {
    font-size: 24px;
  }
  
  .header-nav ul {
    list-style: none;
    display: flex;
  }
  
  .header-nav li {
    margin-right: 10px;
  }


  /* Footer.css */
.footer {
    background-color: #fff;
    padding: 10px;
    color: #fff;
    text-align: center;
    
  }

.header{
  position: fixed;

  width: 100%;
  top: 0;
  left: 0;
  transition: all .6s;
  z-index : 700;


  }
  .header .HEAD {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: all .6s;
}
.header .headerInner {
  position: relative;
  display: flex;
  justify-content: right;
  margin: 0 auto;
  background: transparent;
  
}

.logo{

    left: calc((100% - 1600px)/2);
    width: 210px;
    position: absolute;
    top: 50%;
    height: 70px;
    z-index: 701;
}
.logo-img{
  display: block;
    width: 100%;
    height: 100%;
    background: url(/src/assets/img/THEHAMLOGO.png) no-repeat center/100% auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.header-right-wrap {
  right: calc((100% - 1600px)/2);
  position: absolute;
  top: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 701;
  position: relative;
}

.header-right-wrap .btn-list {
  display: flex;
  margin-right: 60px;
  font-weight: 300;
  font-size: 20px;
}

.btn-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}

.btn-login-pc{
  transform: translate(0px, 0px);
  opacity: 1;
}


.menu-btn-wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.menu-btn{
  transform: translate(0px, 0px);
  opacity: 1;
}



.inner-wrap{
  padding-bottom: 125px;
  display: flex;
    justify-content: space-between;
    align-items: center;
  position: relative;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    transition: all .6s;
}

.menu-list-wrap{
  margin-left: -38px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-top: auto;
  
}

.menu-list{
  margin-right: 5px;
  flex: 1 1 0%;
  width: 100%;
}

.menu-btn .line {
  margin: 5px 0;
  transition: transform .6s
}

.pc-nav-open .menu-btn .line {
  background-color: #191919 !important
}

.menu-btn .line {
  width: 21px;
  margin-left: 9px
}

@media screen and (min-width: 992px) {
  .menu-btn .line {
      width:25px;
      margin-left: 10px
  }
}

.menu-btn .line,.menu-btn .line:before,.menu-btn .line:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  transition: transform .6s
}

.menu-btn .line:before,.menu-btn .line:after {
  width: 30px;
  margin-left: -9px
}

@media screen and (min-width: 992px) {
  .menu-btn .line:before,.menu-btn .line:after {
      width:35px;
      margin-left: -10px
  }
}

.menu-btn .line:before {
  transform: translateY(-12px)
}

.pc-nav-open .menu-btn .line:before {
  -webkit-transform: translateY(0) rotateZ(135deg);
  transform: translateY(0) rotateZ(135deg)
}

.menu-btn .line:after {
  transform: translateY(10px)
}

.pc-nav-open .menu-btn .line:after {
  -webkit-transform: translateY(-2px) rotateZ(-135deg);
  transform: translateY(-2px) rotateZ(-135deg)
}

.open-nav-wrap {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 500px;

  padding : 0 15px;
  background-color: #efefef;
  z-index: 200;

}
.menu-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 57px;
  font-size: 38px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  vertical-align: baseline;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  transition: all .6s;
  text-decoration: none; /* 링크에 밑줄 제거 */
}

/* Hover 효과 스타일 추가 */
.menu-list a:hover {
  color: #a095ff;
}

@media screen and (min-width: 992px) {
  .open-nav-wrap {
      padding:0 60px
  }
}

@media screen and (min-width: 1645px) {
  .open-nav-wrap {
      padding:0 15px
  }
}

.pc-nav-open .open-nav-wrap {
  transform: translateY(0)
}

@media screen and (max-width: 991.98px) {
  .pc-nav-open .open-nav-wrap {
      height:calc(100vh - 70px)
  }
}

@media screen and (min-width: 992px) {
  .pc-nav-open .open-nav-wrap {
      height:100vh
  }
}



@media screen and (max-width: 991.98px) {
  .open-nav-wrap .inner-wrap {
      overflow-y:auto
  }
}

@media screen and (max-width: 991.98px) {
  .open-nav-wrap .inner-wrap {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 110px
  }
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .inner-wrap {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 6.51381vw
  }
}

@media screen and (min-width: 1920px) {
  .open-nav-wrap .inner-wrap {
      padding-bottom:125px
  }
}

.open-nav-wrap .inner-wrap.active {
  opacity: 1;
  visibility: visible
}

.open-nav-wrap .menu-list-wrap {
  transition: opacity .6s .8s
}

@media screen and (max-width: 991.98px) {
  .open-nav-wrap .menu-list-wrap {
      width:100%
  }
}



.pc-nav-open .open-nav-wrap .menu-list-wrap {
  height: 100%
}

.open-nav-wrap .menu-list-wrap>* {
  width: 100%
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .menu-list-wrap>* {
      flex:1 1 0%
  }
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .menu-list.is-hover>a {
      color:#fff
  }
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .menu-list.not-hover>a {
      color:#777 !important
  }
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .menu-list:not(:last-child) {
      margin-right:5px
  }
}


.main-nav .open-nav-wrap .menu-list>a {
  color: #000
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .menu-list>a {
      font-size:5.62852vw
  }
}

@media screen and (min-width: 1600px) {
  .open-nav-wrap .menu-list>a {
      font-size:90px
  }
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .menu-list>a {
      height:auto;
      width: 7.03491vw;
    
  }
}

@media screen and (min-width: 1920px) {
  .open-nav-wrap .menu-list>a {
      width:135px
  }
}

.open-nav-wrap .menu-list.on>a {
  color: #fff
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .contact-list {
      margin-top:auto;
      transition: opacity .6s .8s
  }
}

@media screen and (min-width: 992px) {
  .open-nav-wrap .contact-list .contact-item:not(:last-child) {
      margin-bottom:3.12663vw
  }
}

@media screen and (min-width: 1920px) {
  .open-nav-wrap .contact-list .contact-item:not(:last-child) {
      margin-bottom:60px
  }
}

.open-nav-wrap .contact-list .contact-item .txt-top {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 16px;
  color: #aaa
}

.open-nav-wrap .contact-list .contact-item .btn-contact .txt {
  position: relative;
  width: 320px;
  padding-right: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  transition: color .6s
}

.open-nav-wrap .contact-list .contact-item .btn-contact .txt:hover {
  color: #a095ff
}